<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MC History</display-name>
  <welcome-file-list>
    <welcome-file>base.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>skelly.storageType</param-name>
    <param-value>datastore</param-value>
  </context-param>
  <context-param>
    <param-name>skelly.bucket</param-name>
    <param-value>mchistory-666.appspot.com</param-value>
  </context-param>
</web-app>